<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="flex-column items-center justify-items-center mx-auto max-w-lg">
    <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
      Step 2 - MFA with IProov
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500 mb">
      Welcome <span class="text-gray-800">{{ username }}</span
      >, we need to know if it's really you :)
    </p>

    <div
      class="form mb-0 mt-6 h-auto space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
    >
      <img
        src="../../../assets/iProov_Logo.svg"
        height="80"
        width="80"
        alt=""
      />

      <p class="text-center text-lg font-medium text-gray-400">
        Sign in to MFA
      </p>
      <p class="text-center text-lg font-medium">
        Iproov is a biometric authentication company that offers secure and
        effortless user authentication solutions for businesses.
      </p>
      <div id="iproov-container"></div>
      <button
        type="submit"
        (click)="logout()"
        class="block rounded-lg w-auto bg-indigo-600 -2 px-5 py-3 text-sm font-medium text-white inline-flex items-center justify-center"
      >
        Sign out Okta
        <svg
          class="w-4 h-4 ml-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
