<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p
        class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400"
      >
        Honda - The Power of Dreams
      </p>
    </div>
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <svg
          viewBox="0 0 52 24"
          fill="currentColor"
          class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
        >
          <defs>
            <pattern
              id="d0d83814-78b6-480f-9a5f-7f637616b267"
              x="0"
              y="0"
              width=".135"
              height=".30"
            >
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect
            fill="url(#d0d83814-78b6-480f-9a5f-7f637616b267)"
            width="52"
            height="24"
          ></rect>
        </svg>
        <span class="relative">How</span>
      </span>
      easy is setup an okta + iproov environment
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque rem aperiam, eaque ipsa quae.
    </p>
  </div>
  <div
    class="relative grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-3 sm:grid-cols-2"
  >
    <div
      class="absolute inset-0 flex items-center justify-center sm:hidden lg:flex"
    >
      <div class="w-px h-full bg-gray-300 lg:w-full lg:h-px"></div>
    </div>
    <div
      class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
    >
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Sign in with Auth0</p>
        <p
          class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50"
        >
          1
        </p>
      </div>
      <p class="text-sm text-gray-900">
        Authenticate with Okta Customer Identity Cloud, with your password or
        social login.
      </p>
    </div>
    <div
      class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
    >
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">MFA With IProov</p>
        <p
          class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50"
        >
          2
        </p>
      </div>
      <p class="text-sm text-gray-900">
        Authenticate if you're living person, if its really you and if you're
        really trying to sign in and not beeing forced to.
      </p>
    </div>
    <div
      class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
    >
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Redirect</p>
        <p
          class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50"
        >
          3
        </p>
      </div>
      <p class="text-sm text-gray-900">Redirect to your application.</p>
    </div>
  </div>
  <div class="text-center">
    <a
      (click)="login()"
      class="inline-flex cursor-pointer items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-[#2b2d42] hover:bg-gray-500 focus:shadow-outline focus:outline-none"
    >
      Start with Okta
    </a>
  </div>
</div>
